:root{
  /* identidade */
  --color-primary: #002F52;
  --color-accent: #EBB800;

  /* texto */
  --color-text: #fff;
  --color-text-muted: #6b7280;
  --color-text-footer: #858585;

  /* button */

  --color-bg-btn: #EB9B00;

  /* estrutura */
  --color-background: #ffffff;
  --color-background-secondary: #EBECEE;
  --color-bg-footer: #F9F9F9;
  --color-surface: #f2f2f2;
  --color-bg-degrade: linear-gradient(145deg, #002F52 55%, #326589);

  /* tons */

  --color-black: #000;
  --color-white: #fff;

    /* degrades */

  --color-degrade: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);
  --color-line: rgb(0 0 0 / 50%);

    /* sombras */

  --color-shadow: rgb(0 0 0 / 25%);
}