:root{
    --padding-lateral-mobile: 2.4rem; 
}


.flex { display: flex; }
.flex-col { flex-direction: column; }
.flex-wrap { flex-wrap: wrap; }
.flex-center { justify-content: center; align-items: center;}

.justify-between { justify-content: space-between; }
.justify-center { justify-content: center; }

.items-center { align-items: center; }

.gap-xs {gap: var(--space-xs);}
.gap-sm {gap: var(--space-sm);}
.gap-md {gap: var(--space-md);}
.gap-lg {gap: var(--space-lg);}
.gap-xl {gap: var(--space-lg);}

.ml-auto{margin-left: auto;}