:root{
    --padding-lateral-mobile: 2.4rem; 
}

.gap-xs {gap: var(--space-xs);}
.gap-sm {gap: var(--space-sm);}
.gap-md {gap: var(--space-md);}
.gap-lg {gap: var(--space-lg);}
.gap-xl {gap: var(--space-lg);}