.footer{
    background-color: var(--color-bg-footer);
    padding: 1.7rem 2.4rem 2.4rem 2.4rem;
    border-top: 0.05rem solid var(--color-line);
}

.footer__title{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--color-black);
}