.header{
    background-color: var(--color-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem var(--padding-lateral-mobile);
    position: relative;
    box-shadow: 0 0.2rem 0.4rem var(--color-black);
}

.header__container{
    display: flex;
    align-items: center;
}

.header__menu{
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    background-image: url(../img/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.continer__menu{
    display: none;
}

.list__menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    position: absolute;
    top: 100%;
    left: 0;
    width: 60vw;
    background-color: var(--color-background);
    border-bottom-right-radius: 1.5rem;
    box-shadow: 0 0.8rem 1.2rem -0.6rem var(--color-black);

    transform: translateX(-110%);
    transition: transform 0.5s ease-in-out; 
}

.list__menu--title{
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-accent);
    margin-bottom: 1rem;
}

.list__menu--itens{
    color: var(--color-primary);
    text-transform: uppercase;
}

.continer__menu:checked ~ .list__menu{
    transform: translateX(0);

}

/*.continer__menu:checked + label .header__menu{
    background-image: url(../img/Menu\ Aberto.svg);
}*/


