.header{
    background-color: var(--color-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem var(--padding-lateral-mobile);
    position: relative;
    box-shadow: 0 0.2rem 0.4rem var(--color-black);
}

.header__container{
    display: flex;
    align-items: center;
}

.header__menu{
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    background-image: url(../img/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.continer__menu{
    display: none;
}

.list__menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    position: absolute;
    top: 100%;
    left: 0;
    width: 60vw;
    background-color: var(--color-background);
    border-bottom-right-radius: 1.5rem;
    box-shadow: 0 0.8rem 1.2rem -0.6rem var(--color-black);

    transform: translateX(-110%);
    transition: transform 0.5s ease-in-out; 
}

.list__menu--title{
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-accent);
    margin-bottom: 1rem;
}

.list__menu--itens{
    color: var(--color-primary);
    text-transform: uppercase;
}

.continer__menu:checked ~ .list__menu{
    transform: translateX(0);

}

/*.continer__menu:checked + label .header__menu{
    background-image: url(../img/Menu\ Aberto.svg);
}*/

.header__title, .header__nav, #menu-tablet, .list__menu-tablet{
    display: none;
}

@media screen and (min-width: 1024px){
    .header{
        padding: 1.6rem 8rem;
    }
    .header__menu{
        display: none;
    }
    .header__title{
        display: block;
        font-family: var(--font-secondary);
        font-size: 3rem;
        font-weight: 400;
    }

    .header__title--strong{
        font-weight: bolder;
    }

    .header__nav{
        display: flex;
        gap: 2.3rem;
        text-transform: uppercase;
        font-family: var(--font-primary);
        font-size: 1.6rem;
        align-items: center;
    }
    
    .header__nav--menu{
        padding: 1rem;
    }

    .header__nav--itens{
        color: var(--color-black);
    }

    .header__icons{
        gap: 6.1rem;
    }

    .hedaer__favoritos{
        display: none;
    }

    .list__menu-tablet{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        top: 100%;
        left: 35.4rem;
        width: 20vw;
        background-color: var(--color-background);
        border-bottom-right-radius: 0;
        box-shadow: none;

        transform: translateY(-200%);
        transition: transform 0.5s ease-in-out; 
    }

    #menu-tablet:checked ~ .list__menu-tablet{
        transform: translateY(0);

    }

    .list__menu-tablet--itens{
        font-size: 1.6rem;
        color: var(--color-primary);
        text-transform: uppercase;
        padding: 2.4rem 3rem 1.6rem 2.4rem;
    }

    .list__menu-tablet--itens:focus{
        background: var(--color-bg-degrade);
        color: var(--color-white);
    }
}