/* MAIN > Banner */

.banner{
    background: var(--color-degrade);
    color: var(--color-text);
    padding: 3.2rem;
    text-align: center;
}

.banner__title{
    font-size: 1.8rem;
    font-weight: bold;
}

.banner__p{
    font-size: 1.6rem;
    margin: 0.8rem 0 2.4rem 0;
}

.banner__search{
    width: 100%;
    height: 4.4rem;
    padding-left: 5rem;
    color: var(--color-text);
    border-radius: 2.4rem;
    background: transparent url(../img/Lupa.svg) no-repeat;
    background-position: 2rem center;
    border: 0.2rem solid var(--color-text);
    outline: none;
    font-size: 1.8rem;
}


.banner__search::placeholder{
    font-family: var(--font-primary);
    color: var(--color-text);
    font-size: 1.6rem;
    text-align: center;
}

.banner__search:focus::placeholder{
    opacity: 0;
}

/*Section card>*/


.card{
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 1.7rem;
    padding: 1.6rem;
    margin: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 0.4rem 0.4rem var(--color-shadow);

    background-color: var(--color-background);
}

.card__text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.9rem;
}

.card__text--estrela{
    width: 9.1rem;
    height: 1.5rem;
}

.card__text--title{
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--color-accent)
}

.card__text--subtitle{
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--color-primary);
}

.card__text--p{
    font-size: 1.4rem;
    color: var(--color-black);
}

.card__icon{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 0.6rem 0 0 1rem;
}

.card__icon--itens{
    width: 4.8rem;
    height: 4.8rem;
}

.card__visual{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3.5rem;
}

.card__visual--img{
    width: 16.2rem;
    height: 16.8rem;
}

.card__visual--btn{
    background-color: var(--color-bg-btn);
    padding: 1.2rem 1.6rem;
    text-align: center;

    font-size: 1.6rem;
    font-weight: bold;
    color: var(--color-white);
}

/*Section > Topicos*/

.topicos{
    background: var(--color-bg-degrade);
    padding: 2.4rem 1.5rem;
}

.topicos__title{
    font-size: 1.6rem;
    font-weight: 300;
    color: var(--color-white);
    text-transform: uppercase;
    text-align: center;
}

.topicos__btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 3.2rem;
}

.topicos__btn--itens{
    background-color: var(--color-bg-btn);
    padding: 1.6rem 2.4rem;
    color: var(--color-white);
    font-size: 1.4rem;
    font-weight: bold;
}

/*Section > Email*/

.email{
    background-color: var(--color-background);
    padding: 2.4rem 2.3rem 2.3rem 3rem;
    display: flex;
    flex-direction: column;
}

.email__title{
    font-size: 1.8rem;
    margin-bottom: 0.8rem;
    background: var(--color-degrade);
    background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.email__p{
    font-size: 1.6rem;
    font-weight: 300;
    margin-bottom: 2.4rem;
    background: var(--color-degrade);
    background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.email__campo{
    max-width: 38rem;
    width: 80%;
    height: 4.4rem;
    padding-left: 5rem;
    color: var(--color-black);
    border-radius: 2.4rem;
    background: transparent url(../img/Email.svg) no-repeat;
    background-position: 2rem center;
    border: 0.1rem solid var(--color-primary);
    outline: none;
    font-size: 1.8rem;
}

.email__campo::placeholder{
    color: var(--color-primary);
    font-size: 1.6rem;
}


.email__campo:focus::placeholder{
    opacity: 0;
    text-align: center;
}

