/* MAIN > Banner */

.banner{
    background: var(--color-degrade);
    color: var(--color-text);
    padding: 3.2rem;
    text-align: center;
}

.banner__title{
    font-size: 1.8rem;
    font-weight: bold;
}

.banner__p{
    font-size: 1.6rem;
    margin: 0.8rem 0 2.4rem 0;
}

.banner__search{
    width: 100%;
    height: 4.4rem;
    text-align: center;
    color: var(--color-text);
    border-radius: 2.4rem;
    background: transparent;
    border: 0.2rem solid var(--color-text);
    outline: none;
}


.banner__search::placeholder{
    font-family: var(--font-primary);
    color: var(--color-text);
    font-size: 1.6rem;
    background: url(../img/Lupa.svg) no-repeat;
    background-position: 1rem;
}

.banner__search:focus::placeholder{
    opacity: 0;
}

