/* MAIN > Banner */

.banner{
    background: var(--color-degrade);
    color: var(--color-text);
    padding: 3.2rem;
    text-align: center;
}

.banner__title{
    font-size: 1.8rem;
    font-weight: bold;
}

.banner__p{
    font-size: 1.6rem;
    margin: 0.8rem 0 2.4rem 0;
}

.banner__search{
    width: 100%;
    height: 4.4rem;
    text-align: center;
    color: var(--color-text);
    border-radius: 2.4rem;
    background: transparent;
    border: 0.2rem solid var(--color-text);
    outline: none;
}


.banner__search::placeholder{
    font-family: var(--font-primary);
    color: var(--color-text);
    font-size: 1.6rem;
    background: url(../img/Lupa.svg) no-repeat;
    background-position: 1rem;
}

.banner__search:focus::placeholder{
    opacity: 0;
}

/*Section card>*/


.card{
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 1.7rem;
    padding: 1.6rem;
    margin: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 0.4rem 0.4rem var(--color-shadow);

    background-color: var(--color-background);
}

.card__text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.9rem;
}

.card__text--title{
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--color-accent)
}

.card__text--subtitle{
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--color-primary);
}

.card__text--p{
    font-size: 1.4rem;
    color: var(--color-black);
}

.card__icon{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 0.6rem 0 0 1rem;
}

.card__icon--itens{
    width: 4.8rem;
    height: 4.8rem;
}

.card__visual{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3.5rem;
}

.card__visual--img{
    width: 16.2rem;
    height: 16.8rem;
}

.card__visual--btn{
    background-color: var(--color-bg-btn);
    padding: 1.2rem 1.6rem;
    text-align: center;

    font-size: 1.6rem;
    font-weight: bold;
    color: var(--color-white);
}