.slider__title{
    background-color: var(--color-background);
    font-family: var(--font-primary);
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--color-accent);
    text-align: center;
    text-transform: uppercase;
    padding: 2rem 0 1rem 0;
}


.swiper-pagination{
    position: initial;
    padding: 0 0 2rem 0;
}

.swiper-slide img{
    width: 100%;
    padding: 0 1rem;
}

