@import url(header.css);
@import url(main.css);
@import url(slider.css);
@import url(footer.css);

body{
    font-family: var(--font-primary);
    font-size: 1.6rem;
    font-weight: 400;
    background-color: var(--color-background-secondary);
}